<div class="row alert alert-success">
    <div class="col-sm-8">
        <h3><span class="label  curserClass" [ngClass]="{'label-primary': np, 'label-danger': nd }" (click)="setSerchOtionForm(true, false, false, false); setSerachOptionClass(false,true, true, false, true,false, true,false)">Search By Name</span>
            <span class="label  curserClass" [ngClass]="{'label-primary': pp, 'label-danger': pd }" (click)="setSerchOtionForm(false, true, false, false);setSerachOptionClass(true,false, false, true, true,false, true,false)">Search By Place</span>
            <span class="label  curserClass" [ngClass]="{'label-primary': dp, 'label-danger': dd }" (click)="setSerchOtionForm(false, false, true, false); setSerachOptionClass(true,false, true, false, false,true, true,false)">Search By Degree</span>
            <span class="label  curserClass" [ngClass]="{'label-primary': pdp, 'label-danger': pdd }" (click)="setSerchOtionForm(false, false, false, true); setSerachOptionClass(true,false, true, false, true,false, false,true)">Search By Place and Degree</span></h3>
    </div>
    <div class="col-sm-4">
        <form [formGroup]="name_form" *ngIf="nameForm" style="margin-top: 2%;">
            <input id="colge_name" formControlName="colg_name" style="float: left; width: 80%;height:35px;" placeholder="Type Collage Name">
            <button class="btn btn-primary" type="button" [disabled]="!name_form.valid" style="height: 35px;">
                        <i class="glyphicon glyphicon-search"></i>
            </button>
        </form>
        <form [formGroup]="degree_form" *ngIf="degreeForm" style="margin-top: 2%;">
            <input id="degre_name" formControlName="degree_name" style="float: left; width: 80%;height:35px;" placeholder="Type Degree or Course">
            <button class="btn btn-primary" type="button" [disabled]="!degree_form.valid" style="height: 35px;">
                        <i class="glyphicon glyphicon-search"></i>
            </button>
        </form>

        <form [formGroup]="place_form" *ngIf="placeForm" style="margin-top: 2%;">
            <input id="plac_name" formControlName="place_name" style="float: left; width: 80%;height:35px;" placeholder="Type Place (State or City)">
            <button class="btn btn-primary" type="button" [disabled]="!place_form.valid" style="height: 35px;">
                        <i class="glyphicon glyphicon-search"></i>
            </button>
        </form>

        <form [formGroup]="place_degree_form" *ngIf="placeDegreeForm">
            <input id="pdcomb_place" formControlName="pdcombo_place" style="float: left; width: 80%;height:25px;" placeholder="Type Place (State or City)">
            <input id="pdcomb_degree" formControlName="pdcombo_degree" style="float: left; width: 80%;height:25px;margin-top:0.5%;" placeholder="Type Degree Or Course">
            <button class="btn btn-primary" type="button" [disabled]="!place_degree_form.valid" style="height: 35px;width: 25%; margin-top: 0.5%">
                   Serach <i class="glyphicon glyphicon-search"></i>
            </button>
        </form>

    </div>
</div>
<div class="row">
    <div class="row" *ngIf="loadShow">
        <img *ngIf="loadImage" class="imgSet row" src="../../assets/loadingcat.gif" alt="Loading..">
        <div class="row alert-danger errDiv" *ngIf="loadImageError">{{loadImageMsg}}</div>
    </div>

    <div class="row divMargin" *ngIf=" firstData">
        <div class="row alert-danger errDiv" *ngIf="firstDataError">{{firstDataMsg}}</div>
        <div class="row" style="margin-top: -2%;" *ngIf="firstDataList">
            <div class="addPicDiv" *ngFor="let collage of imageAddList">
                <div class="imageShowDiv">
                    <img class="addImageShow img-responsive" src="http://localhost:3000/fetch/{{collage.name}}">
                </div>
                <div style="background:darkcyan;height: 20%;" class="addDetailBoxShadow">
                    <h1 class="addH1">{{collage.collage_name}}</h1>
                    <h4>{{collage.tag}}</h4>
                    <a class="addAnchor" href="http://www.google.com" target="balnk">More Details Visit Our Website</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row divMargin " *ngIf="searchData ">
        <!--<div class="row alert alert-danger errDiv ">Error</div>-->
        <div>
            <div class="row alert alert-info div addDetailBoxShadow" style="margin-left: 1%; width: 95%; height: 140px;">
                <img class="img-responsive" style="float: left; width: 10%; height: 99%;" src="../../assets/lpulogo.jpg">
                <img class="img-responsive" style="float: left; width: 20%; height: 100%; margin-left: 1%;" src="../../assets/lpucol.jpg">
                <div style="margin-left: 3%; float: left; border-left-style: solid; width: 60%;border-color: darkcyan;">
                    <h3 style="margin-left: 1%;margin-top:0%" class="align-center">LOVELY PROFFESIONAL UNIVERSITY</h3>
                    <h6 style="margin-left: 1%;margin-top: -1%;">Indian Largest Private University</h6>
                    <div style="font-size: smaller;margin-left: 1%;margin-top: -1%; width: 100%;height: 45px;border-style: solid; border-color: cadetblue">Description</div>
                    <button class="btn btn-primary collagesearchListBtn" data-toggle="collapse" data-target="#demo">View Details</button>
                    <button class="btn btn-primary collagesearchListBtn">Visit Website</button>
                    <button class="btn btn-primary collagesearchListBtn">Apply</button>
                    <button class="btn btn-primary collagesearchListBtn">Close</button>
                </div>
            </div>
            <hr>

            <div id="demo" class="row colageDetailsBoxShadow collapse" style="width: 60%;margin-left: 18%;">
                <div class="row" style="height: 50px; border-bottom-style: dotted; color: darkcyan;">
                    <img class="img-circle img-responsive" style="float: left; width: 10%; height: 100%; margin-left: 2%; margin-top: 0.25%;" src="../../assets/lpulogo.jpg">
                    <h2 class="text-center" style="float: left;width: 88%; margin-top: 1%;">Lovely Professional University </h2>
                </div>
                <h5 class="text-center" style="width: 100%;"><b>Indian Best Private University</b></h5>
                <h5 class="text-center" style="width: 100%;margin-top: -1%;color: cornflowerblue">Punjab, Jalandhar</h5>
                <div class="row">
                    <div class="collageDetailsH5">Description</div>
                    <hr>
                    <div class="collageDetailsH5">Courses</div>
                    <hr>
                    <div class="collageDetailsH5">Location</div>
                    <hr>
                    <button class="btn btn-primary" style="margin-left: 2%;">Apply</button>
                    <button class="btn btn-primary detailsCloseBtn" data-toggle="collapse" data-target="#demo">Close</button>
                    <hr>
                </div>
            </div>
        </div>
        <div>
            <div class="row alert alert-info div addDetailBoxShadow" style="margin-left: 1%; width: 95%; height: 140px;margin-top: 1%;">
                <img class="img-responsive" style="float: left; width: 10%; height: 99%;" src="../../assets/gnulogo.png">
                <img class="img-responsive" style="float: left; width: 20%; height: 100%; margin-left: 0.75%;" src="../../assets/gnucol.jpg">
                <div style="margin-left: 3%; float: left; border-left-style: solid; width: 60%;border-color: darkcyan;">
                    <h3 style="margin-left: 1%;margin-top:0%" class="align-center">GNU University</h3>
                    <h6 style="margin-left: 1%;margin-top: -1%;">Bset IN Punjab</h6>
                    <div style="font-size: smaller;margin-left: 1%;margin-top: -1%; width: 100%;height: 45px;border-style: solid; border-color: cadetblue">Description</div>
                    <button class="btn btn-primary collagesearchListBtn" data-toggle="collapse" data-target="#demo1">View Details</button>
                    <button class="btn btn-primary collagesearchListBtn">Visit Website</button>
                    <button class="btn btn-primary collagesearchListBtn">Apply</button>
                    <button class="btn btn-primary collagesearchListBtn">Close</button>
                </div>
            </div>
            <div id="demo1" class="row colageDetailsBoxShadow collapse" style="width: 60%;margin-left: 18%;">
                <div class="row" style="height: 50px; border-bottom-style: dotted; color: darkcyan;">
                    <img class="img-circle img-responsive" style="float: left; width: 10%; height: 100%; margin-left: 2%; margin-top: 0.25%;" src="../../assets/lpulogo.jpg">
                    <h2 class="text-center" style="float: left;width: 88%; margin-top: 1%;">Lovely Professional University </h2>
                </div>
                <h5 class="text-center" style="width: 100%;"><b>Indian Best Private University</b></h5>
                <h5 class="text-center" style="width: 100%;margin-top: -1%;color: cornflowerblue">Punjab, Jalandhar</h5>
                <div class="row">
                    <div class="collageDetailsH5">Description</div>
                    <hr>
                    <div class="collageDetailsH5">Courses</div>
                    <hr>
                    <div class="collageDetailsH5">Location</div>
                    <hr>
                    <button class="btn btn-primary" style="margin-left: 2%;">Apply</button>
                    <button class="btn btn-primary detailsCloseBtn" data-toggle="collapse" data-target="#demo1">Close</button>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>