<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="../../../assets/brandimage.png" data-toggle="tooltip" data-placement="bottom" title="Best Way To Searching Collages">
            <span data-toggle="tooltip" data-placement="bottom" title="Best Way To Searching Collages" style="color: cornflowerblue;font-family: monospace; ">findmycollage.com</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav navbar-nav navbar-right " id="bs-example-navbar-collapse-1 ">
            <button type="button " class="btn btn-default navbar-btn " [ngClass]="{ 'borderOn': aboutOn} " (click)="aboutOn=true; contactOn=false; loginOn=false; regisOn=false; loginOutOn=false; ">About</button>
            <button type="button " class="btn btn-default navbar-btn " [ngClass]="{ 'borderOn': contactOn} " (click)="aboutOn=false; contactOn=true; loginOn=false; regisOn=false; loginOutOn=false; ">Contact</button>
            <button type="button " class="btn btn-default navbar-btn " [ngClass]="{ 'borderOn': loginOn} " (click)="aboutOn=false; contactOn=false; loginOn=true; regisOn=false; loginOutOn=false; ">Login</button>
            <button type="button " class="btn btn-default navbar-btn " [ngClass]="{ 'borderOn': regisOn} " (click)="aboutOn=false; contactOn=false; loginOn=false; regisOn=true; loginOutOn=false; ">Registration</button>
            <button type="button " class="btn btn-default navbar-btn " [ngClass]="{ 'borderOn': logOutOn} " (click)="aboutOn=false; contactOn=false; loginOn=false; regisOn=false; loginOutOn=true; ">Logout</button>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>